[Unit]
Description=Quart background worker instance to serve QuartCutter
After=network-online.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/prog/python/QuartCutter
ExecStart=/root/prog/python/QuartCutter/venv/bin/python worker.py

[Install]
WantedBy=multi-user.target